<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>job新增</title>
    <link rel="stylesheet" href="../../component/pear/css/pear.css" />
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">执行计划名</label>
                    <div class="layui-input-block">
                        <input type="text" name="jobName" lay-verify="required|title" autocomplete="off" placeholder="请输入脚本名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">脚本类型</label>
                    <div class="layui-input-block">
                        <select name="scriptType" lay-filter="script-type-select" class="layui-form-select">
                            <option value="空白" selected="selected"></option>
                            <option value="kettle">kettle</option>
                            <option value="spider">spider</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">执行脚本选择</label>
                    <div class="layui-input-block">
                        <select id = "relateId" name="relateId" lay-verify="required" lay-search class="layui-form-select">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" id = "formSubmit" lay-submit="" lay-filter="job-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>
<script>
layui.use(['form','jquery','notice'],function(){
    let form = layui.form;
    let $ = layui.jquery;
    let notice = layui.notice;

    form.on("select(script-type-select)",function (obj){
        let value = obj.value;
        if(value == '空白'){
            notice.error("选择不能为空");
            return false;
        }

        $.ajax({
            url:'/job/script/list?scriptName='+value,
            type:'get',
            success:function(result){
                if(result.code == 0){
                    $("#relateId").empty();
                    result.data.forEach((item,index) => {
                        if(value == 'kettle'){
                            $("#relateId").append(new Option(item.stepName,item.stepId,false,true));
                        }else{
                            $("#relateId").append(new Option(item.spiderName,item.spiderId,false,true));
                        }
                    })
                    form.render();
                }else{
                    layer.msg(result.message,{icon:2,time:1000});
                }
            }
        })
    });

    form.on('submit(job-save)', function(data){

        $.ajax({
            url:'/job/add',
            data:JSON.stringify(data.field),
            dataType:'json',
            contentType:'application/json',
            type:'post',
            success:function(result){
                if(result.code == 0){
                    layer.msg(result.message,{icon:1,time:1000},function(){
                        parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                        parent.layui.table.reload("list-table");
                    });
                }else{
                    layer.msg(result.message,{icon:2,time:1000});
                }
            }
        })
        return false;
    });
})
</script>
<script>
</script>
</body>
</html>