<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../../component/pear/css/pear.css" />
	</head>
	<body class="pear-container">
		<div class="layui-row layui-col-space10">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card">
						<div class="layui-card-body" style="padding-top: 40px;">
							<div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
								<div carousel-item>
									<div>
										<form class="layui-form" lay-filter="stepForm1" action="javascript:void(0);" style="margin: 0 auto;max-width: 800px;padding-top: 40px;">
											<div class="layui-form-item">
												<div class="layui-inline">
													<label class="layui-form-label">爬虫名</label>
													<div class="layui-input-block">
														<input type="text" name="spiderName" autocomplete="off" class="layui-input">
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">数据库表名</label>
												<div class="layui-input-block">
													<input type="text"  name="tableName" autocomplete="off" class="layui-input">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">xpath解析选型</label>
												<div class="layui-input-block">
													<select name="xPathSelection" class="layui-select" lay-verify="required">
														<option value="0">htmlCleaner</option>
														<option value="1">xSoup</option>
													</select>
													<div class="layui-form-mid layui-word-aux">提示:htmlCleaner 与xpth语法更接近 但比xSoup效率低---xSoup 效率较好，但对Xpath 语法支持不够完善 部分语法不支持</div>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">入口页Url</label>
												<div class="layui-input-block">
													<input type="text" name="entryUrl" lay-verify="required|title" autocomplete="off" class="layui-input">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">列表页正则表达式</label>
												<div class="layui-input-inline" style="width:60%">
													<input type="text" name="listRegex" lay-verify="required|title" autocomplete="off" class="layui-input">
												</div>
												<div class="layui-input-inline">
													<label data-type="listRegex" class="pear-btn pear-btn-sm pear-btn-primary layui-icon layui-icon-website"></label>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">正文页xpath</label>
												<div class="layui-input-inline" style="width:60%">
													<input type="text" name="contentXpath" autocomplete="off" class="layui-input">
												</div>
												<div class="layui-input-inline">
													<label data-type="contentXpath" class="pear-btn pear-btn-sm pear-btn-primary layui-icon layui-icon-website"></label>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-input-block">
													<button class="pear-btn pear-btn-success" lay-submit lay-filter="formStep">
														&emsp;下一步&emsp;
													</button>
												</div>
											</div>
										</form>
									</div>
									<div>
										<form class="layui-form" lay-filter="stepForm2" action="javascript:void(0);" style="margin: 0 auto;max-width: 800px;padding-top: 40px;">
											<div class="layui-form-item">
												<label class="layui-form-label">线程数</label>
												<div class="layui-input-block">
													<input type="text"  name="threadNum" lay-verify="number" autocomplete="off" class="layui-input">
												</div>
											</div>
											<div>
												<label class="layui-form-label">睡眠时间</label>
												<div class="layui-input-block">
													<input type="text"  name="sleepTime" lay-verify="number" autocomplete="off" class="layui-input">
													<div class="layui-form-mid layui-word-aux">提示：每个页面处理完后的睡眠时间 单位秒</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline">
													<label class="layui-form-label">下载页面重试次数</label>
													<div class="layui-input-block">
														<input type="text"  name="retryTimes" lay-verify="number" autocomplete="off" class="layui-input">
														<div class="layui-form-mid layui-word-aux">提示：页面下载失败重试次数</div>
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">重试睡眠时间</label>
												<div class="layui-input-block">
													<input type="text"  name="retrySleepTime" lay-verify="number" placeholder="单位秒" autocomplete="off" class="layui-input">
													<div class="layui-form-mid layui-word-aux">提示：单位秒</div>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">爬取失败后重试次数</label>
												<div class="layui-input-block">
													<input type="text"  name="cycleRetryTimes" lay-verify="number" autocomplete="off" class="layui-input">
													<div class="layui-form-mid layui-word-aux">提示:页面爬取失败后放回队列的次数</div>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">下载页面超时时间</label>
												<div class="layui-input-block">
													<input type="text"  name="timeOut" lay-verify="number" autocomplete="off" class="layui-input">
													<div class="layui-form-mid layui-word-aux">提示:下载页面超时时间 单位秒</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-input-block">
													<button type="button" class="pre pear-btn pear-btn-success">上一步</button>
													<button class="pear-btn pear-btn-success" lay-submit lay-filter="formStep2">
														&emsp;下一步&emsp;
													</button>
												</div>
											</div>
										</form>
									</div>
									<div>
										<form class="layui-form"  action="javascript:void(0);" style="margin: 0 auto;max-width: 800px;padding-top: 40px;">
											<div>
												<h2>列表页字段</h2>
											</div>
											<div class="layui-form-item">
												<table id="field-table" lay-filter="field-table" lay-data="{toolbar:'#toolbar',skin:'line',width:700,id:'field-table'}">
													<thead>
													<tr>
														<td lay-data="{field:'key',width:100,edit:'text'}">字段名</td>
														<td lay-data="{field:'value',edit:'text'}">XPath规则</td>
														<td lay-data="{width:100,templet:'#field-row-bar'}">操作</td>
													</tr>
													</thead>
												</table>
											</div>
											<div style="border: 1px #F0F2F5"></div>
											<div>
												<h2>正文页字段</h2>
											</div>
											<div class="layui-form-item">
												<table id="content-table" lay-filter="content-table" lay-data="{toolbar:'#contentToolbar',skin:'line',width:700,id:'content-table'}">
													<thead>
														<tr>
															<td lay-data="{field:'key',width:100,edit:'text'}">字段名</td>
															<td lay-data="{field:'value',edit:'text'}">XPath规则</td>
															<td lay-data="{width:100,templet:'#content-row-bar'}">操作</td>
														</tr>
													</thead>
												</table>
											</div>
											<div class="layui-form-item">
												<div class="layui-input-block">
													<button type="button" class="pear-btn pear-btn-success pre">上一步</button>
													<button class="pear-btn pear-btn-success" lay-submit lay-filter="step-save">
														&emsp;保存&emsp;
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../../component/layui/layui.js"></script>
		<script src="../../../component/pear/pear.js"></script>
		<script type="text/html" id="toolbar">
			<div class="layui-btn-container">
				<button class="layui-btn layui-btn-sm" lay-event="addFieldRow">新增行</button>
			</div>
		</script>
		<script type="text/html" id="contentToolbar">
			<div class="layui-btn-container">
				<button class="layui-btn layui-btn-sm" lay-event="addContentRow">新增行</button>
			</div>
		</script>
		<script type="text/html" id="field-row-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="debug"><i class="layui-icon layui-icon-website"></i></button>
			<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
		</script>
		<script type="text/html" id="content-row-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="debug"><i class="layui-icon layui-icon-website"></i></button>
			<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
		</script>
		<script>
			layui.use(['loading','form','jquery','step','code','element','notice','table'], function() {
				let $ = layui.jquery,
				form = layui.form,
				step = layui.step,
				notice = layui.notice,
				loading = layui.loading;
				let table = layui.table;

				layui.code();

				$(function(){
					table.init('field-table',{});
					table.init('content-table',{});
				});

				form.on('submit(step-save)', function(data){
					loading.Load(1,"");
					let fieldTableData = table.getData('field-table');
					let contentTableData = table.getData('content-table');
					let stepForm1Data = form.val("stepForm1");
					let stepForm2Data = form.val("stepForm2");
					let obj = $.extend(stepForm1Data,stepForm2Data);
					obj.fieldsJson = JSON.stringify(fieldTableData);
					obj.contentFieldsJson = JSON.stringify(contentTableData);
					$.ajax({
						url:'/spider/add',
						data:JSON.stringify(obj),
						dataType:'json',
						contentType:'application/json',
						type:'post',
						success:function(result) {
							loading.loadRemove();
							if (result.code == 0) {
								layer.msg(result.message, {icon: 1, time: 1000}, function () {
									parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
									parent.layui.table.reload("list-table");
								});
							} else {
								notice.error(result.message);
								// layer.msg(result.message, {icon: 2, time: 1000});
							}
						}
					})
					return false;
				});

				step.render({
					elem: '#stepForm',
					filter: 'stepForm',
					width: '100%',
					stepWidth: '1000px',
					height: '800px',
					stepItems: [{
						title: '基本信息填写'
					}, {
						title: '请求信息填写'
					}, {
						title: '字段信息填写'
					}]
				});

				form.on('submit(formStep)', function(data) {
					step.next('#stepForm');
					return false;
				});

				form.on('submit(formStep2)', function(data) {
					step.next('#stepForm');
					return false;
				});

				form.on('submit(formStep3)', function(data) {
					step.next('#stepForm');
					return false;
				});

				$('.pre').click(function() {
					step.pre('#stepForm');
					return false;
				});

				$('.next').click(function() {
					step.next('#stepForm');
				    return false;
				});

				table.on('toolbar(field-table)',function(obj){
					if(obj.event === 'addFieldRow'){
						window.addFieldRow();
					}
				});

				table.on('toolbar(content-table)',function(obj){
					if(obj.event === 'addContentRow'){
						window.addContentRow();
					}
				});

				table.on('tool(field-table)',function (obj){
					if(obj.event === 'debug'){
						notice.info("debug");
						window.fieldDebug(obj,"listField");
					}else if(obj.event === 'remove'){
						notice.info("remove");
						window.fieldTableRemove(obj);
					}
				});

				table.on('tool(content-table)',function (obj){
					if(obj.event === 'debug'){
						notice.info("debug");
						window.fieldDebug(obj,"contentField");
					}else if(obj.event === 'remove'){
						notice.info("remove");
						window.contentFieldTableRemove(obj);
					}
				});

				window.fieldTableRemove = function (obj){
					let oldData = table.cache['field-table'];
					for(let i = 0 ; i < oldData.length ; i++){
						if(oldData[i].value == obj.data.value){
							oldData.splice(i,1);
						}
					}
					table.reload('field-table',{
						data : oldData
					});
				}

				window.contentFieldTableRemove = function (obj){
					let oldData = table.cache['content-table'];
					for(let i = 0 ; i < oldData.length ; i++){
						if(oldData[i].value == obj.data.value){
							oldData.splice(i,1);
						}
					}
					table.reload('content-table',{
						data : oldData
					});
				}

				window.fieldDebug = function (obj,type){
					let object = new Object();
					let selectXPath = $("[name = 'xPathSelection']")[0].value;
					let entryUrl = $("[name = 'entryUrl']")[0].value;
					object['entryUrl'] = entryUrl;
					object['xpathSelection'] = selectXPath;
					if(type == 'listField'){
						object['listFieldXPath'] = obj.data.value;
					}else{
						object['contentXpath'] = $("[name = 'contentXpath']")[0].value;
						object['contentFieldXPath'] = obj.data.value;
					}
					$.ajax({
						url:'/spider/test/'+type,
						data:JSON.stringify(object),
						dataType:'json',
						contentType:'application/json',
						type:'post',
						success:function(result) {
							let str = result.data.toString().replaceAll(",","<br>")
							if (result.code == 0) {
								layer.open({
									title: '测试结果',
									area:'500px',
									content:str
								});
							} else {
								notice.error(result.message);
								// layer.msg(result.message, {icon: 2, time: 1000});
							}
						}
					})
				}

				window.addFieldRow = function(){
					var oldData = table.cache['field-table'];
					var newRow = {'key':'','value':''};
					oldData.push(newRow);
					table.reload('field-table',{
						data : oldData
					});
				}

				window.addContentRow = function() {
					var oldData = table.cache['content-table'];
					var newRow = {'key': '', 'value': ''};
					oldData.push(newRow);
					table.reload('content-table', {
						data: oldData
					});
				}


				$("body").on("click", "[data-type]", function() {
					let type = $(this).attr("data-type");
					let obj = new Object();
					obj['entryUrl'] = $("[name = 'entryUrl']")[0].value;
					obj['xpathSelection'] = $("[name = 'xPathSelection']")[0].value;
					if(type == 'listRegex'){
						obj['listRegex'] = $("[name = 'listRegex']")[0].value;
					}else{
						obj['contentXpath'] = $("[name = 'contentXpath']")[0].value;
					}

					$.ajax({
						url:'/spider/test/'+type,
						data:JSON.stringify(obj),
						dataType:'json',
						contentType:'application/json',
						type:'post',
						success:function(result) {
							let str = result.data.toString().replaceAll(",","<br>")
							if (result.code == 0) {
								layer.open({
									title: '测试结果',
									area:'500ox',
									content:str
								});
							} else {
								notice.error(result.message);
								// layer.msg(result.message, {icon: 2, time: 1000});
							}
						}
					})
				});
			});
		</script>
	</body>
</html>
