<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>kettle新增</title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css" />
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">脚本名</label>
                    <div class="layui-input-block">
                        <input type="text" name="ktrName" lay-verify="required|title" autocomplete="off" placeholder="请输入脚本名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
					<label class="layui-form-label">上传脚本</label>
					<label id="scriptFile" class="pear-btn pear-btn-sm pear-btn-primary layui-icon layui-icon-upload" title="上传脚本"></label>
					<div class="layui-form-mid layui-word-aux">建议:大小在10m以内,只能上传ktr结尾的文件。</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">数据库表名</label>
                    <div class="layui-input-block">
                        <input type="text"  name="tableName" lay-verify="required|title" autocomplete="off" placeholder="请输入表明" class="layui-input">
						<div class="layui-form-mid layui-word-aux">提示:表名年份替换值为'tableYearTemplate'</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">执行模式</label>
                    <div class="layui-input-block">
						<select name="processType" class="layui-select" lay-verify="required">
							<option value="normal">普通模式</option>
							<option value="edit">编辑模式</option>
						</select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" id = "formSubmit" lay-submit="" lay-filter="user-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="../../../component/layui/layui.js"></script>
<script src="../../../component/pear/pear.js"></script>
<script>
layui.use(['form','jquery','upload'],function(){
    let form = layui.form;
    let $ = layui.jquery;
	let upload = layui.upload;

	let scriptFile;

    let uploadInst = upload.render({
	    elem: '#scriptFile',
	    url: '/upload', //改成您自己的上传接口
	    auto: true,
		accept:'file',
		exts: 'ktr',
	    done: function(res){
			if(res.code === 0){
                scriptFile = res.data.scriptFile;
                $("#scriptFile").val(scriptFile);
                layer.msg("上传成功");
			}
	    }
	  });

    form.on('submit(user-save)', function(data){

        if(scriptFile != undefined){
            data.field.scriptFile = scriptFile;
        }

        $.ajax({
            url:'/ktr/add',
            data:JSON.stringify(data.field),
            dataType:'json',
            contentType:'application/json',
            type:'post',
            success:function(result){
                if(result.code == 0){
                    layer.msg(result.message,{icon:1,time:1000},function(){
                        parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                        parent.layui.table.reload("list-table");
                    });
                }else{
                    layer.msg(result.message,{icon:2,time:1000});
                }
            }
        })
        return false;
    });
})
</script>
<script>
</script>
</body>
</html>